async-timeout==4.0.3
attrs==23.2.0
colorama==0.4.6
exceptiongroup==1.2.0
ifaddr==0.2.0
iniconfig==2.0.0
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
packaging==23.2
pluggy==1.4.0
pyserial==3.5
pytest==7.2.0
#will not work you need to put your own file path here
thymiodirect @ file:///c/Users/Aurel/OneDrive/Bureau/TelecomNancy/2A/S2/PIDR/PIDR-Bac-sable/res/thymiodirect-0.1.2-py3-none-any.whl
#file:///home/kallu/Documents/telecom/2A/S2/pidr/PIDR/res/thymiodirect-0.1.2-py3-none-any.whl
#thymiodirect @ file:///C:/Users/colin/OneDrive/Documents/TN/2A/PIDR/res/thymiodirect-0.1.2-py3-none-any.whl

tomli==2.0.1
websockets==12.0
zeroconf==0.131.0
scipy == 1.12.0
matplotlib == 3.8.3
cvxpy == 1.4.2